In [2]:
import os
import numpy as np
import random
import matplotlib.pyplot as plt
import seaborn as sns
import pandas as pd
from scipy import stats
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_absolute_error, mean_absolute_percentage_error
from sklearn.preprocessing import MinMaxScaler
import tensorflow as tf
from datetime import datetime

from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense
from tensorflow.keras.layers import LSTM, GRU, SimpleRNN, TimeDistributed, Bidirectional
from tensorflow.keras.models import model_from_json

2025-02-08 15:39:11.365076: E external/local_xla/xla/stream_executor/cuda/cuda_fft.cc:479] Unable to register cuFFT factory: Attempting to register factory for plugin cuFFT when one has already been registered
2025-02-08 15:39:11.393738: E external/local_xla/xla/stream_executor/cuda/cuda_dnn.cc:10575] Unable to register cuDNN factory: Attempting to register factory for plugin cuDNN when one has already been registered
2025-02-08 15:39:11.393776: E external/local_xla/xla/stream_executor/cuda/cuda_blas.cc:1442] Unable to register cuBLAS factory: Attempting to register factory for plugin cuBLAS when one has already been registered
2025-02-08 15:39:11.412554: I tensorflow/core/platform/cpu_feature_guard.cc:210] This TensorFlow binary is optimized to use available CPU instructions in performance-critical operations.
To enable the following instructions: AVX2 AVX512F FMA, in other operations, rebuild TensorFlow with the appropriate compiler flags.
2025-02-08 15:39:12.424670: W tensorflow/compiler/tf2tensorrt/utils/py_utils.cc:38] TF-TRT Warning: Could not find TensorRT

In [3]:
df = pd.read_csv("/home/ertugrulgul/Belgeler/GitHub/hakkari_test/data_H/Modellemeler/haftalÄ±kveriler/hakkari.csv")

In [4]:
df['t2m'] = df['t2m'] - 273.15
df['tp'] = df['tp']*1000
df['sp'] = df['sp']/100
df["lat"] = df["latitude"]
df["lon"] = df["longitude"]

In [5]:
df.head()

,valid_time,latitude,longitude,number,expver,sp,u10,v10,t2m,tp,lat,lon
0,1940-01-01,37.79,43.31,0,1,743.2331,-0.022367,0.895051,-9.63218,3.649931,37.79,43.31
1,1940-01-01,37.79,43.56,0,1,738.1231,0.267427,0.899629,-9.96226,3.266792,37.79,43.56
2,1940-01-01,37.79,43.81,0,1,741.4831,0.536531,0.814057,-9.96810,2.750378,37.79,43.81
3,1940-01-01,37.79,44.06,0,1,747.8381,0.755526,0.678315,-9.95396,2.303939,37.79,44.06
4,1940-01-01,37.79,44.31,0,1,756.9931,0.824984,0.797151,-9.52866,1.858692,37.79,44.31

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 49931 entries, 0 to 49930
Data columns (total 12 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   valid_time  49931 non-null  object
 1   latitude    49931 non-null  float64
 2   longitude   49931 non-null  float64
 3   number      49931 non-null  int64
 4   expver      49931 non-null  int64
 5   sp          49931 non-null  float64
 6   u10         49931 non-null  float64
 7   v10         49931 non-null  float64
 8   t2m         49931 non-null  float64
 9   tp          49931 non-null  float64
 10  lat         49931 non-null  float64
 11  lon         49931 non-null  float64
dtypes: float64(9), int64(2), object(1)
memory usage: 4.6+ MB

In [7]:
df.describe()

,latitude,longitude,number,expver,sp,u10,v10,t2m,tp,lat,lon
count,49931.000000,49931.000000,49931.0,49931.0,49931.000000,49931.000000,49931.000000,49931.000000,49931.000000,49931.000000,49931.000000
mean,37.040000,44.060000,0.0,1.0,856.072539,-0.079665,-0.101981,11.857726,2.324937,37.040000,44.060000
std,0.500005,0.500005,0.0,0.0,70.262460,0.521551,0.536482,11.170519,2.448767,0.500005,0.500005
min,36.290000,43.310000,0.0,1.0,733.314400,-1.893168,-1.862009,-15.085300,0.000000,36.290000,43.310000
25%,36.540000,43.560000,0.0,1.0,794.367825,-0.434193,-0.484273,2.975250,0.196071,36.540000,43.560000
50%,37.040000,44.060000,0.0,1.0,845.616900,-0.133927,-0.152884,11.676170,1.570288,37.040000,44.060000
75%,37.540000,44.560000,0.0,1.0,918.284400,0.240395,0.231908,20.518825,3.769358,37.540000,44.560000
max,37.790000,44.810000,0.0,1.0,987.033750,2.379473,1.873778,37.649560,15.525721,37.790000,44.810000

In [8]:
df.isna().sum()

valid_time    0
latitude      0
longitude     0
number        0
expver        0
sp            0
u10           0
v10           0
t2m           0
tp            0
lat           0
lon           0
dtype: int64

In [9]:
print(df.columns)

Index(['valid_time', 'latitude', 'longitude', 'number', 'expver', 'sp', 'u10',
       'v10', 't2m', 'tp', 'lat', 'lon'],
      dtype='object')

In [10]:
# Tarih indeksini datetime formatÄ±na Ã§evir
df['valid_time'] = pd.to_datetime(df['valid_time'])  # Tarih formatÄ±na Ã§evir
df.set_index('valid_time', inplace=True)  # Ä°ndeks olarak ayarla
df = df.sort_index()  # Zaman sÄ±rasÄ±na gÃ¶re sÄ±ralayÄ±n (bazÄ± algoritmalar iÃ§in Ã¶nemli)

# Enlem ve boylam bazÄ±nda gruplama yaparak her bir bÃ¶lge iÃ§in veri oluÅŸtur
grouped = df.groupby(["latitude", "longitude"])

In [11]:
print(df.columns)

Index(['latitude', 'longitude', 'number', 'expver', 'sp', 'u10', 'v10', 't2m',
       'tp', 'lat', 'lon'],
      dtype='object')

In [12]:
# Her grup iÃ§in "valid_time" sÃ¼tununun korunmasÄ±nÄ± saÄŸlÄ±yoruz
for (lat, lon), group in grouped:
    print(f"\nðŸ“Œ Ä°ÅŸlenen Lokasyon: ({lat}, {lon})")

    # Lokasyon bazlÄ± DataFrame oluÅŸtur
    location_df = group.copy()

    # Tarih indeksini geri getir
    location_df = location_df.reset_index().set_index("valid_time").sort_index()

    print(location_df.head())  # Ä°lk 5 satÄ±rÄ± gÃ¶ster

ðŸ“Œ Ä°ÅŸlenen Lokasyon: (36.29, 43.31)
            latitude  longitude  number  expver        sp       u10       v10  \
valid_time
1940-01-01     36.29      43.31       0       1  980.5481 -0.988188 -0.471526
1940-02-01     36.29      43.31       0       1  980.8906 -0.870435 -0.713150
1940-03-01     36.29      43.31       0       1  980.9400 -0.355229 -0.521831
1940-04-01     36.29      43.31       0       1  978.4150 -1.081098 -0.746021
1940-05-01     36.29      43.31       0       1  974.8544  0.391407 -0.652682

                 t2m        tp    lat    lon
valid_time
1940-01-01   6.56410  1.861673  36.29  43.31
1940-02-01   8.69790  1.995529  36.29  43.31
1940-03-01   9.31460  1.552368  36.29  43.31
1940-04-01  18.52090  3.030076  36.29  43.31
1940-05-01  23.44595  0.021438  36.29  43.31

ðŸ“Œ Ä°ÅŸlenen Lokasyon: (36.29, 43.56)
            latitude  longitude  number  expver        sp       u10       v10  \
valid_time
1940-01-01     36.29      43.56       0       1  980.1681 -1.033476 -0.573943
1940-02-01     36.29      43.56       0       1  980.5056 -0.918714 -0.807114
1940-03-01     36.29      43.56       0       1  980.5600 -0.496922 -0.490489
1940-04-01     36.29      43.56       0       1  978.0550 -1.038281 -0.813252
1940-05-01     36.29      43.56       0       1  974.4794  0.038837 -0.596042

                 t2m        tp    lat    lon
valid_time
1940-01-01   6.22770  2.136212  36.29  43.56
1940-02-01   8.48160  2.533640  36.29  43.56
1940-03-01   8.87808  1.821185  36.29  43.56
1940-04-01  18.22305  3.395751  36.29  43.56
1940-05-01  22.84440  0.025939  36.29  43.56

ðŸ“Œ Ä°ÅŸlenen Lokasyon: (36.29, 43.81)
            latitude  longitude  number  expver        sp       u10       v10  \
valid_time
1940-01-01     36.29      43.81       0       1  972.3181 -1.208342 -0.341704
1940-02-01     36.29      43.81       0       1  972.6856 -1.068646 -0.597794
1940-03-01     36.29      43.81       0       1  972.7800 -0.649754 -0.372112
1940-04-01     36.29      43.81       0       1  970.5600 -1.118451 -0.648884
1940-05-01     36.29      43.81       0       1  967.0944 -0.230877 -0.504367

                 t2m        tp    lat    lon
valid_time
1940-01-01   5.88198  2.525072  36.29  43.81
1940-02-01   8.10952  3.061379  36.29  43.81
1940-03-01   8.28530  2.187157  36.29  43.81
1940-04-01  17.70742  3.573909  36.29  43.81
1940-05-01  22.19155  0.037830  36.29  43.81

ðŸ“Œ Ä°ÅŸlenen Lokasyon: (36.29, 44.06)
            latitude  longitude  number  expver        sp       u10       v10  \
valid_time
1940-01-01     36.29      44.06       0       1  951.6331 -1.292082 -0.011626
1940-02-01     36.29      44.06       0       1  952.1006 -1.123212 -0.317307
1940-03-01     36.29      44.06       0       1  952.2400 -0.636998 -0.196086
1940-04-01     36.29      44.06       0       1  950.7600 -1.045941 -0.392170
1940-05-01     36.29      44.06       0       1  947.6094 -0.208386 -0.314426

                 t2m        tp    lat    lon
valid_time
1940-01-01   5.17202  3.455024  36.29  44.06
1940-02-01   7.27310  3.985490  36.29  44.06
1940-03-01   7.32583  2.722884  36.29  44.06
1940-04-01  16.97256  3.999784  36.29  44.06
1940-05-01  21.25260  0.137548  36.29  44.06

ðŸ“Œ Ä°ÅŸlenen Lokasyon: (36.29, 44.31)
            latitude  longitude  number  expver        sp       u10       v10  \
valid_time
1940-01-01     36.29      44.31       0       1  925.0381 -1.077299  0.005525
1940-02-01     36.29      44.31       0       1  925.6306 -0.946485 -0.259323
1940-03-01     36.29      44.31       0       1  925.7750 -0.409001 -0.189647
1940-04-01     36.29      44.31       0       1  925.2550 -0.763776 -0.229603
1940-05-01     36.29      44.31       0       1  922.4844 -0.085095 -0.175448

                 t2m        tp    lat    lon
valid_time
1940-01-01   3.74526  4.437428  36.29  44.31
1940-02-01   5.72378  5.348171  36.29  44.31
1940-03-01   5.83560  3.263856  36.29  44.31
1940-04-01  15.59854  4.198566  36.29  44.31
1940-05-01  19.56558  0.311236  36.29  44.31

ðŸ“Œ Ä°ÅŸlenen Lokasyon: (36.29, 44.56)
            latitude  longitude  number  expver        sp       u10       v10  \
valid_time
1940-01-01     36.29      44.56       0       1  911.1681 -0.833342 -0.187957
1940-02-01     36.29      44.56       0       1  911.8056 -0.751172 -0.395645
1940-03-01     36.29      44.56       0       1  911.9350 -0.283757 -0.220165
1940-04-01     36.29      44.56       0       1  911.9250 -0.576489 -0.225270
1940-05-01     36.29      44.56       0       1  909.3244 -0.096203 -0.066623

                 t2m        tp    lat    lon
valid_time
1940-01-01   2.38247  5.694252  36.29  44.56
1940-02-01   4.41030  6.137217  36.29  44.56
1940-03-01   4.56997  3.839756  36.29  44.56
1940-04-01  14.57607  4.275813  36.29  44.56
1940-05-01  18.49430  0.497441  36.29  44.56

ðŸ“Œ Ä°ÅŸlenen Lokasyon: (36.29, 44.81)
            latitude  longitude  number  expver        sp       u10       v10  \
valid_time
1940-01-01     36.29      44.81       0       1  890.0681 -0.631620 -0.418548
1940-02-01     36.29      44.81       0       1  890.7956 -0.621320 -0.606583
1940-03-01     36.29      44.81       0       1  890.8750 -0.221349 -0.299602
1940-04-01     36.29      44.81       0       1  891.6350 -0.450269 -0.248585
1940-05-01     36.29      44.81       0       1  889.2944 -0.007305  0.066861

                 t2m        tp    lat    lon
valid_time
1940-01-01   0.32534  6.944876  36.29  44.81
1940-02-01   2.51577  6.515468  36.29  44.81
1940-03-01   2.81070  4.578138  36.29  44.81
1940-04-01  13.22060  4.107251  36.29  44.81
1940-05-01  17.40444  0.646006  36.29  44.81

ðŸ“Œ Ä°ÅŸlenen Lokasyon: (36.54, 43.31)
            latitude  longitude  number  expver        sp       u10       v10  \
valid_time
1940-01-01     36.54      43.31       0       1  966.9931 -0.993193 -0.702666
1940-02-01     36.54      43.31       0       1  967.4306 -0.903272 -0.857651
1940-03-01     36.54      43.31       0       1  967.4550 -0.289067 -0.562968
1940-04-01     36.54      43.31       0       1  965.4950 -0.964734 -0.743061
1940-05-01     36.54      43.31       0       1  962.0794  0.171100 -0.586398

                 t2m        tp    lat    lon
valid_time
1940-01-01   5.37612  2.395015  36.54  43.31
1940-02-01   7.43716  2.234186  36.54  43.31
1940-03-01   8.12856  2.045537  36.54  43.31
1940-04-01  17.09463  3.256931  36.54  43.31
1940-05-01  21.64224  0.046115  36.54  43.31

ðŸ“Œ Ä°ÅŸlenen Lokasyon: (36.54, 43.56)
            latitude  longitude  number  expver        sp       u10       v10  \
valid_time
1940-01-01     36.54      43.56       0       1  966.7481 -1.013517 -0.831267
1940-02-01     36.54      43.56       0       1  967.1706 -0.931409 -0.976944
1940-03-01     36.54      43.56       0       1  967.2050 -0.417912 -0.540141
1940-04-01     36.54      43.56       0       1  965.2550 -0.901044 -0.829670
1940-05-01     36.54      43.56       0       1  961.8294 -0.164624 -0.529269

                 t2m        tp    lat    lon
valid_time
1940-01-01   5.03090  2.703409  36.54  43.56
1940-02-01   7.22036  2.816285  36.54  43.56
1940-03-01   7.70767  2.316023  36.54  43.56
1940-04-01  16.82656  3.672316  36.54  43.56
1940-05-01  21.06850  0.052165  36.54  43.56

ðŸ“Œ Ä°ÅŸlenen Lokasyon: (36.54, 43.81)
            latitude  longitude  number  expver        sp       u10       v10  \
valid_time
1940-01-01     36.54      43.81       0       1  961.4231 -0.899076 -0.841582
1940-02-01     36.54      43.81       0       1  961.8606 -0.846875 -0.997360
1940-03-01     36.54      43.81       0       1  961.8900 -0.442418 -0.504741
1940-04-01     36.54      43.81       0       1  960.1300 -0.769239 -0.861500
1940-05-01     36.54      43.81       0       1  956.7744 -0.274487 -0.446689

                 t2m        tp    lat    lon
valid_time
1940-01-01   4.60660  3.406983  36.54  43.81
1940-02-01   6.86000  3.872599  36.54  43.81
1940-03-01   7.32192  2.650762  36.54  43.81
1940-04-01  16.53700  4.345908  36.54  43.81
1940-05-01  20.70962  0.079642  36.54  43.81

ðŸ“Œ Ä°ÅŸlenen Lokasyon: (36.54, 44.06)
            latitude  longitude  number  expver        sp       u10       v10  \
valid_time
1940-01-01     36.54      44.06       0       1  939.9281 -0.934965 -0.451629
1940-02-01     36.54      44.06       0       1  940.4756 -0.857648 -0.669876
1940-03-01     36.54      44.06       0       1  940.5500 -0.413091 -0.275188
1940-04-01     36.54      44.06       0       1  939.5600 -0.651471 -0.585224
1940-05-01     36.54      44.06       0       1  936.5294 -0.197094 -0.219821

                 t2m        tp    lat    lon
valid_time
1940-01-01   3.90980  4.477482  36.54  44.06
1940-02-01   6.01920  4.944767  36.54  44.06
1940-03-01   6.40054  3.162766  36.54  44.06
1940-04-01  15.78848  4.884079  36.54  44.06
1940-05-01  19.87808  0.194858  36.54  44.06

ðŸ“Œ Ä°ÅŸlenen Lokasyon: (36.54, 44.31)
            latitude  longitude  number  expver        sp       u10       v10  \
valid_time
1940-01-01     36.54      44.31       0       1  907.7081 -0.945585 -0.070281
1940-02-01     36.54      44.31       0       1  908.4106 -0.860822 -0.292313
1940-03-01     36.54      44.31       0       1  908.5100 -0.394933 -0.092601
1940-04-01     36.54      44.31       0       1  908.6650 -0.553662 -0.269306
1940-05-01     36.54      44.31       0       1  906.1044 -0.107647 -0.076877

                 t2m        tp    lat    lon
valid_time
1940-01-01   2.07827  5.415302  36.54  44.31
1940-02-01   4.19497  6.132687  36.54  44.31
1940-03-01   4.42202  4.007602  36.54  44.31
1940-04-01  14.33780  5.129292  36.54  44.31
1940-05-01  18.21890  0.475358  36.54  44.31

ðŸ“Œ Ä°ÅŸlenen Lokasyon: (36.54, 44.56)
            latitude  longitude  number  expver        sp       u10       v10  \
valid_time
1940-01-01     36.54      44.56       0       1  875.1931 -0.943510  0.056611
1940-02-01     36.54      44.56       0       1  876.0406 -0.879193 -0.144699
1940-03-01     36.54      44.56       0       1  876.1400 -0.425481 -0.041698
1940-04-01     36.54      44.56       0       1  877.4300 -0.510663 -0.099659
1940-05-01     36.54      44.56       0       1  875.3294  0.011127  0.008511

                 t2m        tp    lat    lon
valid_time
1940-01-01  -0.70005  6.831270  36.54  44.56
1940-02-01   1.61587  6.761993  36.54  44.56
1940-03-01   1.72524  5.041624  36.54  44.56
1940-04-01  12.44082  5.242601  36.54  44.56
1940-05-01  16.47964  0.882785  36.54  44.56

ðŸ“Œ Ä°ÅŸlenen Lokasyon: (36.54, 44.81)
            latitude  longitude  number  expver        sp       u10       v10  \
valid_time
1940-01-01     36.54      44.81       0       1  844.3631 -0.462126 -0.035979
1940-02-01     36.54      44.81       0       1  845.3606 -0.514356 -0.233292
1940-03-01     36.54      44.81       0       1  845.4000 -0.070866 -0.020183
1940-04-01     36.54      44.81       0       1  847.7800 -0.235059  0.009411
1940-05-01     36.54      44.81       0       1  846.0294  0.360920  0.244534

                 t2m        tp    lat    lon
valid_time
1940-01-01  -3.17368  7.784706  36.54  44.81
1940-02-01  -0.83774  7.160748  36.54  44.81
1940-03-01  -0.61655  5.752349  36.54  44.81
1940-04-01  10.15273  5.107000  36.54  44.81
1940-05-01  14.66616  1.150648  36.54  44.81

ðŸ“Œ Ä°ÅŸlenen Lokasyon: (36.79, 43.31)
            latitude  longitude  number  expver        sp       u10       v10  \
valid_time
1940-01-01     36.79      43.31       0       1  937.4181 -0.975920 -0.836028
1940-02-01     36.79      43.31       0       1  938.0356 -0.857923 -0.953720
1940-03-01     36.79      43.31       0       1  938.0700 -0.206181 -0.507152
1940-04-01     36.79      43.31       0       1  937.2100 -0.762555 -0.666432
1940-05-01     36.79      43.31       0       1  934.2094  0.075763 -0.415744

                 t2m        tp    lat    lon
valid_time
1940-01-01   3.08413  3.452163  36.79  43.31
1940-02-01   5.12856  2.888764  36.79  43.31
1940-03-01   5.92935  2.726698  36.79  43.31
1940-04-01  15.13418  3.869727  36.79  43.31
1940-05-01  19.43960  0.167976  36.79  43.31

ðŸ“Œ Ä°ÅŸlenen Lokasyon: (36.79, 43.56)
            latitude  longitude  number  expver        sp       u10       v10  \
valid_time
1940-01-01     36.79      43.56       0       1  930.4581 -0.719938 -1.114348
1940-02-01     36.79      43.56       0       1  931.0956 -0.657392 -1.227829
1940-03-01     36.79      43.56       0       1  931.1100 -0.139714 -0.654460
1940-04-01     36.79      43.56       0       1  930.5200 -0.572644 -0.865742
1940-05-01     36.79      43.56       0       1  927.5694  0.053699 -0.401401

                 t2m        tp    lat    lon
valid_time
1940-01-01   1.82680  4.196744  36.79  43.56
1940-02-01   3.98257  3.674711  36.79  43.56
1940-03-01   5.18570  3.391052  36.79  43.56
1940-04-01  14.56630  4.207029  36.79  43.56
1940-05-01  19.10122  0.269602  36.79  43.56

ðŸ“Œ Ä°ÅŸlenen Lokasyon: (36.79, 43.81)
            latitude  longitude  number  expver        sp       u10       v10  \
valid_time
1940-01-01     36.79      43.81       0       1  925.7381 -0.563993 -1.164336
1940-02-01     36.79      43.81       0       1  926.3806 -0.539166 -1.278885
1940-03-01     36.79      43.81       0       1  926.3900 -0.148015 -0.650462
1940-04-01     36.79      43.81       0       1  925.9650 -0.426679 -0.927357
1940-05-01     36.79      43.81       0       1  923.0744 -0.038342 -0.339084

                 t2m        tp    lat    lon
valid_time
1940-01-01   1.39320  4.915576  36.79  43.81
1940-02-01   3.61733  4.794444  36.79  43.81
1940-03-01   4.84292  3.734255  36.79  43.81
1940-04-01  14.28018  4.932358  36.79  43.81
1940-05-01  18.76724  0.298511  36.79  43.81

ðŸ“Œ Ä°ÅŸlenen Lokasyon: (36.79, 44.06)
            latitude  longitude  number  expver        sp       u10       v10  \
valid_time
1940-01-01     36.79      44.06       0       1  922.9631 -0.553434 -0.970672
1940-02-01     36.79      44.06       0       1  923.6006 -0.530957 -1.086838
1940-03-01     36.79      44.06       0       1  923.6050 -0.223302 -0.531871
1940-04-01     36.79      44.06       0       1  923.3050 -0.415082 -0.853230
1940-05-01     36.79      44.06       0       1  920.4494 -0.184033 -0.274020

                 t2m        tp    lat    lon
valid_time
1940-01-01   1.29653  5.379301  36.79  44.06
1940-02-01   3.65250  5.559768  36.79  44.06
1940-03-01   4.71646  3.816867  36.79  44.06
1940-04-01  14.05264  4.814520  36.79  44.06
1940-05-01  18.47770  0.329833  36.79  44.06

ðŸ“Œ Ä°ÅŸlenen Lokasyon: (36.79, 44.31)
            latitude  longitude  number  expver        sp       u10       v10  \
valid_time
1940-01-01     36.79      44.31       0       1  906.5581 -0.769926 -0.519195
1940-02-01     36.79      44.31       0       1  907.2806 -0.701764 -0.625595
1940-03-01     36.79      44.31       0       1  907.3100 -0.433049 -0.241740
1940-04-01     36.79      44.31       0       1  907.6000 -0.542676 -0.573384
1940-05-01     36.79      44.31       0       1  905.0144 -0.317120 -0.144076

                 t2m        tp    lat    lon
valid_time
1940-01-01   0.41274  5.924325  36.79  44.31
1940-02-01   2.99233  5.881633  36.79  44.31
1940-03-01   3.61000  4.326606  36.79  44.31
1940-04-01  13.48086  4.493847  36.79  44.31
1940-05-01  17.61392  0.491510  36.79  44.31

ðŸ“Œ Ä°ÅŸlenen Lokasyon: (36.79, 44.56)
            latitude  longitude  number  expver        sp       u10       v10  \
valid_time
1940-01-01     36.79      44.56       0       1  868.0781 -0.728544 -0.108367
1940-02-01     36.79      44.56       0       1  868.9906 -0.706708 -0.225082
1940-03-01     36.79      44.56       0       1  869.0150 -0.318517  0.013356
1940-04-01     36.79      44.56       0       1  870.6250 -0.384931 -0.242939
1940-05-01     36.79      44.56       0       1  868.5744  0.094623  0.063870

                 t2m        tp    lat    lon
valid_time
1940-01-01  -2.16587  6.281477  36.79  44.56
1940-02-01   0.53677  6.009067  36.79  44.56
1940-03-01   0.70278  4.869962  36.79  44.56
1940-04-01  11.21280  4.447236  36.79  44.56
1940-05-01  15.56118  0.775884  36.79  44.56

ðŸ“Œ Ä°ÅŸlenen Lokasyon: (36.79, 44.81)
            latitude  longitude  number  expver        sp       u10       v10  \
valid_time
1940-01-01     36.79      44.81       0       1  824.7231 -0.131437  0.227021
1940-02-01     36.79      44.81       0       1  825.8856 -0.241834  0.085709
1940-03-01     36.79      44.81       0       1  825.8400  0.302302  0.296864
1940-04-01     36.79      44.81       0       1  828.9400  0.078937  0.114544
1940-05-01     36.79      44.81       0       1  827.3944  0.874042  0.413052

                 t2m        tp    lat    lon
valid_time
1940-01-01  -4.82650  6.117087  36.79  44.81
1940-02-01  -2.26840  6.036486  36.79  44.81
1940-03-01  -2.29478  5.136037  36.79  44.81
1940-04-01   8.10098  4.354253  36.79  44.81
1940-05-01  12.99282  1.112024  36.79  44.81

ðŸ“Œ Ä°ÅŸlenen Lokasyon: (37.04, 43.31)
            latitude  longitude  number  expver        sp       u10       v10  \
valid_time
1940-01-01     37.04      43.31       0       1  884.8881 -0.765104 -0.783355
1940-02-01     37.04      43.31       0       1  885.8156 -0.652448 -0.884537
1940-03-01     37.04      43.31       0       1  885.8500 -0.150853 -0.427928
1940-04-01     37.04      43.31       0       1  886.8800 -0.569928 -0.581410
1940-05-01     37.04      43.31       0       1  884.5844  0.163074 -0.224460

                 t2m        tp    lat    lon
valid_time
1940-01-01  -1.66343  5.478960  37.04  43.31
1940-02-01   0.67250  4.115786  37.04  43.31
1940-03-01   1.98403  4.333997  37.04  43.31
1940-04-01  11.25186  5.990818  37.04  43.31
1940-05-01  16.05240  0.586967  37.04  43.31

ðŸ“Œ Ä°ÅŸlenen Lokasyon: (37.04, 43.56)
            latitude  longitude  number  expver        sp       u10       v10  \
valid_time
1940-01-01     37.04      43.56       0       1  878.3831 -0.492582 -1.042876
1940-02-01     37.04      43.56       0       1  879.3306 -0.424024 -1.143722
1940-03-01     37.04      43.56       0       1  879.3400 -0.070042 -0.595226
1940-04-01     37.04      43.56       0       1  880.6250 -0.379010 -0.788716
1940-05-01     37.04      43.56       0       1  878.3744  0.167926 -0.231723

                 t2m        tp    lat    lon
valid_time
1940-01-01  -3.03500  6.135803  37.04  43.56
1940-02-01  -0.55160  4.744257  37.04  43.56
1940-03-01   1.23600  5.004430  37.04  43.56
1940-04-01  10.62686  6.030276  37.04  43.56
1940-05-01  15.79604  0.712018  37.04  43.56

ðŸ“Œ Ä°ÅŸlenen Lokasyon: (37.04, 43.81)
            latitude  longitude  number  expver        sp       u10       v10  \
valid_time
1940-01-01     37.04      43.81       0       1  877.1281 -0.374907 -1.126922
1940-02-01     37.04      43.81       0       1  878.0656 -0.310376 -1.237625
1940-03-01     37.04      43.81       0       1  878.0600 -0.069981 -0.684550
1940-04-01     37.04      43.81       0       1  879.4100 -0.286054 -0.939381
1940-05-01     37.04      43.81       0       1  877.1394  0.094013 -0.251437

                 t2m        tp    lat    lon
valid_time
1940-01-01  -3.50913  6.506305  37.04  43.81
1940-02-01  -0.95444  5.140985  37.04  43.81
1940-03-01   0.89614  5.368734  37.04  43.81
1940-04-01  10.16445  5.686834  37.04  43.81
1940-05-01  15.73550  0.889878  37.04  43.81

ðŸ“Œ Ä°ÅŸlenen Lokasyon: (37.04, 44.06)
            latitude  longitude  number  expver        sp       u10       v10  \
valid_time
1940-01-01     37.04      44.06       0       1  879.4181 -0.411589 -1.073089
1940-02-01     37.04      44.06       0       1  880.3106 -0.337110 -1.155289
1940-03-01     37.04      44.06       0       1  880.2950 -0.159886 -0.666606
1940-04-01     37.04      44.06       0       1  881.6000 -0.312238 -0.974232
1940-05-01     37.04      44.06       0       1  879.2944 -0.112072 -0.272922

                 t2m        tp    lat    lon
valid_time
1940-01-01  -3.34116  6.726962  37.04  44.06
1940-02-01  -0.60093  5.703057  37.04  44.06

In [13]:
for (lat, lon), group in grouped:
    print(f"\nðŸ“Œ Lokasyon: ({lat}, {lon}) iÃ§in veri iÅŸleniyor...")
    print(group.columns)  # SÃ¼tunlarÄ± gÃ¶ster
    break  # Sadece ilk grup iÃ§in kontrol et

ðŸ“Œ Lokasyon: (36.29, 43.31) iÃ§in veri iÅŸleniyor...
Index(['latitude', 'longitude', 'number', 'expver', 'sp', 'u10', 'v10', 't2m',
       'tp', 'lat', 'lon'],
      dtype='object')

In [ ]:
from statsmodels.tsa.statespace.sarimax import SARIMAX
import matplotlib.pyplot as plt

for (lat, lon), group in grouped:
    print(f"\nðŸ“Œ SARIMA Modeli EÄŸitiliyor: ({lat}, {lon})")

    # Lokasyon bazlÄ± DataFrame
    location_df = group.copy().reset_index()  # "valid_time" sÃ¼tununu geri getir
    location_df = location_df.set_index("valid_time").sort_index()
    
    # GÃ¼nlÃ¼k frekans ayarla
    location_df = location_df.asfreq("D")

    # Eksik gÃ¼nleri doldur
    location_df.ffill(inplace=True)

    # SARIMA Modeli (Trend + Mevsimsellik Ä°Ã§in)
    model = SARIMAX(location_df["t2m"], order=(3,1,3), seasonal_order=(1,1,1,12))
    model_fit = model.fit()

    # 30 GÃ¼nlÃ¼k Tahmin Yap
    forecast = model_fit.forecast(steps=30)

    # Tahminleri GÃ¶rselleÅŸtir
    plt.figure(figsize=(10,4))
    plt.plot(location_df.index, location_df["t2m"], label="GerÃ§ek SÄ±caklÄ±k")
    plt.plot(pd.date_range(location_df.index[-1], periods=30, freq="D"), forecast, label="Tahmin", color="red")
    plt.title(f"SARIMA Tahmini - ({lat}, {lon})")
    plt.xlabel("Tarih")
    plt.ylabel("SÄ±caklÄ±k")
    plt.legend()
    plt.show()

ðŸ“Œ SARIMA Modeli EÄŸitiliyor: (36.29, 43.31)

In [2]:
df.dtypes

NameError: name 'df' is not defined

In [ ]:
print(type(df.index))  # Ä°ndeksin tÃ¼rÃ¼nÃ¼ kontrol et
print(df.index.dtype)  # Ä°ndeksin veri tipini kontrol et

In [ ]:
df_daily = df.resample('D').mean()
df_weekly = df.resample('W').mean()
df_month = df.resample('ME').mean()
df_year = df.resample ('YE').mean()

In [ ]:
# Tarih aralÄ±klarÄ±nÄ± kontrol et
print(df.index.min(), df.index.max())  # Veri setinin baÅŸlangÄ±Ã§ ve bitiÅŸ tarihleri
print(df.index.to_series().diff().value_counts())  # Zaman aralÄ±klarÄ±nÄ±n dÃ¼zenliliÄŸini kontrol et

In [ ]:
#IQR YÃ¶ntemiyle AykÄ±rÄ± DeÄŸerleri CSV'ye Kaydetme

# SayÄ±sal sÃ¼tunlarÄ± seÃ§
numeric_cols = df.select_dtypes(include=["number"]).columns  

# AykÄ±rÄ± deÄŸerleri saklamak iÃ§in boÅŸ bir DataFrame oluÅŸtur
outliers_df = pd.DataFrame()

for col in numeric_cols:
    Q1 = df[col].quantile(0.25)  
    Q3 = df[col].quantile(0.75)  
    IQR = Q3 - Q1  

    lower_bound = Q1 - 1.5 * IQR
    upper_bound = Q3 + 1.5 * IQR

    # AykÄ±rÄ± deÄŸerleri belirle
    outliers = df[(df[col] < lower_bound) | (df[col] > upper_bound)].copy()  

    if not outliers.empty:
        print(f"\nðŸ“Œ {col} sÃ¼tunundaki aykÄ±rÄ± deÄŸerler:")
        print(f"ðŸ”¹ Alt sÄ±nÄ±r: {lower_bound:.2f}, Ãœst sÄ±nÄ±r: {upper_bound:.2f}")
        print(outliers[[col]])  # Sadece ilgili sÃ¼tunu gÃ¶ster

        # âœ… Hangi sÃ¼tundan geldiÄŸini belirtmek iÃ§in yeni bir sÃ¼tun ekleyelim
        outliers.loc[:, "AykÄ±rÄ±_SÃ¼tun"] = col  

        # âœ… AykÄ±rÄ± deÄŸerleri birleÅŸtir
        outliers_df = pd.concat([outliers_df, outliers])  

# âœ… CSV olarak kaydet (EÄŸer aykÄ±rÄ± deÄŸer bulunduysa)
if not outliers_df.empty:
    outliers_df.to_csv("aykiri_veriler_IQR.csv", index=True, encoding="utf-8")
    print("âœ… AykÄ±rÄ± deÄŸerler 'aykiri_veriler.csv' dosyasÄ±na kaydedildi!")
else:
    print("âš ï¸ AykÄ±rÄ± deÄŸer bulunamadÄ±.")

In [ ]:
#Z-Score YÃ¶ntemiyle AykÄ±rÄ± DeÄŸerleri CSV'ye Kaydetme

# SayÄ±sal sÃ¼tunlarÄ± seÃ§
numeric_cols = df.select_dtypes(include=["number"]).columns  

outliers_df = pd.DataFrame()  # AykÄ±rÄ± deÄŸerleri saklayacak DataFrame

threshold = 3  # AykÄ±rÄ±lÄ±k eÅŸiÄŸi

for col in numeric_cols:
    mean = df[col].mean()
    std_dev = df[col].std()
    z_scores = stats.zscore(df[col])

    # AykÄ±rÄ± deÄŸerleri belirle
    outliers = df[abs(z_scores) > threshold].copy()  

    if not outliers.empty:
        print(f"\nðŸ“Œ {col} sÃ¼tunundaki aykÄ±rÄ± deÄŸerler:")
        print(f"ðŸ”¹ Ortalama: {mean:.2f}, Standart Sapma: {std_dev:.2f}")
        print(f"ðŸ”¹ AykÄ±rÄ± sÄ±nÄ±r: {mean - 3*std_dev:.2f} ile {mean + 3*std_dev:.2f}")
        print(outliers[[col]])  # Sadece ilgili sÃ¼tunu gÃ¶ster  

        # âœ… Hangi sÃ¼tundan geldiÄŸini ekleyelim
        outliers.loc[:, "AykÄ±rÄ±_SÃ¼tun"] = col  

        # âœ… AykÄ±rÄ± deÄŸerleri ana DataFrame'e ekleyelim
        outliers_df = pd.concat([outliers_df, outliers])  

# âœ… CSV olarak kaydet
if not outliers_df.empty:
    outliers_df.to_csv("aykiri_veriler_zscore.csv", index=True, encoding="utf-8")
    print("âœ… AykÄ±rÄ± deÄŸerler 'aykiri_veriler_zscore.csv' dosyasÄ±na kaydedildi!")
else:
    print("âš ï¸ AykÄ±rÄ± deÄŸer bulunamadÄ±.")

In [ ]:
import pandas as pd

# BaÅŸlangÄ±Ã§taki satÄ±r sayÄ±sÄ±nÄ± kaydet
initial_rows = df.shape[0]  

for col in numeric_cols:
    Q1 = df[col].quantile(0.25)
    Q3 = df[col].quantile(0.75)
    IQR = Q3 - Q1
    lower_bound = Q1 - 1.5 * IQR
    upper_bound = Q3 + 1.5 * IQR

    df = df[(df[col] >= lower_bound) & (df[col] <= upper_bound)]  # AykÄ±rÄ± deÄŸerleri kaldÄ±r

# Silinen satÄ±r sayÄ±sÄ±nÄ± hesapla
deleted_rows = initial_rows - df.shape[0]

# Ã‡Ä±ktÄ± oluÅŸtur
if deleted_rows > 0:
    print(f"âœ… {deleted_rows} aykÄ±rÄ± deÄŸer baÅŸarÄ±yla silindi!")
else:
    print("âš ï¸ Silinecek aykÄ±rÄ± deÄŸer bulunamadÄ±.")

In [ ]:
import pandas as pd
from scipy import stats

# BaÅŸlangÄ±Ã§taki satÄ±r sayÄ±sÄ±nÄ± kaydet
initial_rows = df.shape[0]

threshold = 3  # AykÄ±rÄ±lÄ±k sÄ±nÄ±rÄ±

# TÃ¼m sÃ¼tunlarda aykÄ±rÄ± olan satÄ±rlarÄ± saklamak iÃ§in boÅŸ bir liste
outlier_indices = set()

# 1ï¸âƒ£ HER SÃœTUN Ä°Ã‡Ä°N AYKIRI SATIRLARI TESPÄ°T ET
for col in numeric_cols:
    z_scores = stats.zscore(df[col])
    outliers = df.index[abs(z_scores) > threshold]  # AykÄ±rÄ± satÄ±rlarÄ±n index'leri
    outlier_indices.update(outliers)  # Set iÃ§ine ekleyerek tekrarlarÄ± Ã¶nlÃ¼yoruz

# 2ï¸âƒ£ SADECE TEK SEFERDE AYKIRI SATIRLARI SÄ°L
df = df.drop(index=outlier_indices)

# Silinen satÄ±r sayÄ±sÄ±nÄ± hesapla
deleted_rows = initial_rows - df.shape[0]

# Ã‡Ä±ktÄ± oluÅŸtur
if deleted_rows > 0:
    print(f"âœ… {deleted_rows} aykÄ±rÄ± deÄŸer baÅŸarÄ±yla silindi!")
else:
    print("âš ï¸ Silinecek aykÄ±rÄ± deÄŸer bulunamadÄ±.")

In [ ]:
df.head()

In [ ]:
df.info()

In [ ]:
import matplotlib.pyplot as plt

plt.figure(figsize=(12,5))
plt.plot(df.index, df["t2m"], label="SÄ±caklÄ±k")
plt.title("Zaman Serisi GrafiÄŸi")
plt.xlabel("Tarih")
plt.ylabel("SÄ±caklÄ±k")
plt.legend()
plt.show()

In [ ]:
df["t2m_MA"] = df["t2m"].rolling(window=30).mean()  # 30 gÃ¼nlÃ¼k ortalama
df[["t2m", "t2m_MA"]].plot(figsize=(12,5))
plt.title("30 GÃ¼nlÃ¼k Hareketli Ortalama ile SÄ±caklÄ±k")
plt.show()

In [ ]:
from statsmodels.tsa.stattools import adfuller

result = adfuller(df["t2m"].dropna())  # NaN'leri Ã§Ä±kar
print(f"ADF Test p-deÄŸeri: {result[1]}")
if result[1] < 0.05:
    print("âœ… Zaman serisi duraÄŸan (stationary).")
else:
    print("âš ï¸ Zaman serisi duraÄŸan deÄŸil, fark alma iÅŸlemi gerekebilir.")

In [ ]:
plt.figure(figsize=(12,5))
plt.plot(df.index, df["t2m"], label="GÃ¼nlÃ¼k SÄ±caklÄ±k")
plt.title("SÄ±caklÄ±k Zaman Serisi GrafiÄŸi")
plt.xlabel("Tarih")
plt.ylabel("SÄ±caklÄ±k (Â°C)")
plt.legend()
plt.show()

In [ ]:
df["t2m_ma"] = df["t2m"].rolling(window=365).mean()  # YÄ±llÄ±k hareketli ortalama
df[["t2m", "t2m_ma"]].plot(figsize=(12,5))
plt.title("YÄ±llÄ±k Hareketli Ortalama ile Mevsimsellik")
plt.show()

In [ ]:
from statsmodels.tsa.seasonal import seasonal_decompose

decompose_result = seasonal_decompose(df["t2m"], model="additive", period=365)  # GÃ¼nlÃ¼k veriler iÃ§in 1 yÄ±l = 365 gÃ¼n

plt.figure(figsize=(12, 8))
decompose_result.plot()
plt.show()

In [ ]:
df = df.asfreq("D")  # GÃ¼nlÃ¼k frekans belirle

In [ ]:
from statsmodels.tsa.statespace.sarimax import SARIMAX

# SARIMA modelini oluÅŸtur ve eÄŸit
model = SARIMAX(df["t2m"], order=(3,1,3), seasonal_order=(1,1,1,12))  # 12 aylÄ±k dÃ¶ngÃ¼
model_fit = model.fit()

# 365 gÃ¼nlÃ¼k tahmin yap
forecast = model_fit.forecast(steps=365)

# Grafikte gÃ¶ster
plt.figure(figsize=(12,5))
plt.plot(df.index, df["t2m"], label="GerÃ§ek SÄ±caklÄ±k")
plt.plot(pd.date_range(df.index[-1], periods=365, freq="D"), forecast, label="Tahmin", color="red")
plt.legend()
plt.show()